.menu {

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0 36px;
        &-div {
          width: 1px;
          height: 20px;
          background:rgba(255, 255, 255, 0.4);
          }
    
      &-item , a{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
              &_icon1 {

                background: rgba(255, 255, 255, 0.24);
                padding: 8px 9px;
                border-radius: 50%;
                margin: 8px;  
              }
              &_icon2 {

                background: rgba(255, 255, 255, 0.24);
                padding: 8px 9px;
                border-radius: 50%;
                margin: 8px;  
              }
        & span {
          color: rgba(255, 255, 255, 0.87);
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.003em;
          text-align: left;
          

        }
        .menu-list-fb {
          padding: 8px 9px;
        }
      }
  }
  & a .menu-list-fb{
    padding: 8px 11px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 20px;
  }
}