// khai báo css thuộc tính chung
@import "variables";

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}
.warpper {
    // position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1310px;
    margin: 0 auto;
}

ul,li {
    list-style: none;
}
button {
    border: none;
    background-color: #fff;
    color: rgba(101, 1, 7, 0.87);
    text-align: center;
    letter-spacing: 0.012em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

}