// khai báo css thuộc tính chung
@import "variables";

label,
button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

input {
    position: relative;
    line-height: normal;
    outline: none;
    border: 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #E8E8E8;
    margin-top: 8px;
    height: 30px;
    padding: 0 16px;
    color: rgba(101, 1, 7, 0.87);
    width: 100%;
    height: 48px;
    &::placeholder {
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.012em;
        color: rgba(101, 1, 7, 0.87);
    } 
}
.warpper {
    // position: relative;
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1310px;
    margin: 0 auto;
}

ul,li {
    list-style: none;
}

button{
  border: none;
  color: rgba(101, 1, 7, 0.87);
}